{% extends 'mails/layout.html' %}
{% block header %}
  Tender expires in less than {{ days_remained }} days!
{% endblock %}
{% block content %}
  <h2>
    <a href="{{ tender.url }}">{{ tender.title }}</a>
  </h2>
  {% if tender.deadline %}
    <p class="deadline">
      Deadline: {{ tender.deadline }} | {{ tender.deadline|safe }}
    </p>
  {% else %}
    <p>Deadline unknown</p>
  {% endif %}
  <hr>
    <h3>Description</h3>
    <p class="description">{{ tender.description|safe }}</p>
    <p class="published clip">
      Published: {{ tender.published }} &ndash; {{ tender.organization }}
    </p>
  {% endblock %}
