{% extends 'mails/layout.html' %}

{% block header %}New Tenders{% endblock %}

{% block content %}
  <ol class="tender-list">
    {% for tender in tenders %}
    <li>
      <h2>
        <a href="{{ tender.url }}">{{ tender.title }}</a>
      </h2>
      <p class="published clip">
        {% if tender.published %}
          Published: {{ tender.published }} &ndash; {{ tender.organization }}
        {% else %}
          Published: Not specified &ndash; {{ tender.organization }}
        {% endif %}
      </p>
      <p class="deadline">
        {% if tender.deadline %}
            Deadline: {{ tender.deadline }}
        {% else %}
            Deadline: Not specified
        {% endif %}
      </p>
    </li>
    {% endfor %}
  </ol>
{% endblock %}
