{% extends 'mails/layout.html' %}
{% block header %}
  These contracts are subject to renewal in less than {{ months_remained }} months!
{% endblock %}
{% block content %}
  <ol>
    <li>
      <h2>Awards</h2>
    </li>
    <ol class="award-list">
      {% for award in awards %}
        <li>
          <h2>
            <a href="{{ award.tender.url }}">{{ award.tender.title }}</a>
          </h2>
          {% if award.renewal_date %}
            <p class="deadline">
              Renewal date: {{ award.renewal_date }} | {{ award.renewal_date|safe }}
            </p>
          {% else %}
            <p>Renewal date: Not specified</p>
          {% endif %}
          <hr>
          <h3>Vendors</h3>
          <p class="description">{{ award.get_vendors|safe }}</p>
          <p class="published clip">
            {% if award.award_date %}
              Award date: {{ award.award_date }}
            {% else %}
              Award date: Not specified
            {% endif %}
          </p>
        </li>
      {% endfor %}

    </ol>
  </ol>

{% endblock %}
