{% extends 'mails/layout.html' %}

{% block header %}{{ notification_type }} tender(s) update{% endblock %}

{% block content %}
  <ol class="tender-list">
    {% for tender in tenders %}
      <li>
        <h2>
          <a href="{{ tender.url }}">{{ tender.title }}</a>
        </h2>
        <p class="published clip">
          {% if tender.published %}
            Published: {{ tender.published }}
          {% else %}
            Published: Not specified
          {% endif %}
        </p>
        <p class="published title_clip">
          {{ tender.organization }}
        </p>
        <p class="deadline">
          {% if tender.deadline %}
            Deadline: {{ tender.deadline }}
          {% else %}
            Deadline: Not specified
          {% endif %}
        </p>
      </li>
    {% endfor %}
  </ol>
{% endblock %}
