0 0 * * * python /var/local/scratch/manage.py update_ungm
0 0 * * * python /var/local/scratch/manage.py update_ted
# 0 0 * * * python /var/local/scratch/manage.py update_winners
0 0 * * * python /var/local/scratch/manage.py notify --digest
0 0 * * * python /var/local/scratch/manage.py notify_favorites --digest
0 0 * * * python /var/local/scratch/manage.py notify_keywords --digest
