0 8 * * * python /var/local/scratch/manage.py update_ungm; python /var/local/scratch/manage.py update_ted; python /var/local/scratch/manage.py notify_tenders --digest; python /var/local/scratch/manage.py notify_favorites --digest; python /var/local/scratch/manage.py notify_keywords --digest
5 8 * * 1 python /var/local/scratch/manage.py notify_awards --digest
