version: '2'

services:
  web:
    image: scratch
    build: .
    volumes:
      - .:/var/local/scratch
    entrypoint: ["/usr/bin/tail", "-f", "/dev/null"]

  async:
    volumes:
      - .:/var/local/scratch

  cron:
    image: scratch
    build: .

  smtp:
    image: eaudeweb/mailtrap
    container_name: scratch.smtp
    ports:
      - 80:80

  elasticsearch_test:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.6.1
    container_name: scratch.elasticsearch_test
    environment:
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g
    volumes:
      - esdata_test:/usr/share/elasticsearch/data
    ports:
      - 9201:9201

volumes:
  esdata_test:
    driver: local
