DJANGO_MIGRATE=no
DJANGO_COLLECT_STATIC=no

ALLOWED_HOSTS=0.0.0.0
SECRET_KEY=secret
DEBUG=True

SENTRY_DSN=
SENTRY_PUBLIC_DSN=

FTP_URL=ted.europa.eu
TED_DAYS_AGO=

BASE_URL=
EMAIL_HOST=
EMAIL_PORT=

DEADLINE_NOTIFICATIONS=

TED_DOC_TYPES=
TED_AUTH_TYPE=

EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

DELETE_EXPIRED_DAYS=
