DJANGO_MIGRATE=no
DJANGO_COLLECT_STATIC=no
ALLOWED_HOSTS=*
SECRET_KEY=secret
DEBUG=True
SENTRY_DSN=
SENTRY_PUBLIC_DSN=
FTP_URL=ted.europa.eu
TED_DAYS_AGO=3
TED_DOC_TYPES=Call for expressions of interest,Prior Information Notice,Corrigenda,Additional information,Contract notice,Prequalification notices,Request for proposals,Buyer profile,Contract award notice
TED_AUTH_TYPE=European Institution/Agency or International Organisation
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_AUTH=user:password
# Add the following variables if you plan on running the tests
ELASTICSEARCH_TEST_HOST=elasticsearch_test
ELASTICSEARCH_TEST_AUTH=user:password
DEADLINE_NOTIFICATIONS=1,3,7
EMAIL_USE_TLS=
EMAIL_HOST=smtp
EMAIL_PORT=25
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_SENDER=scratch@eaudeweb.ro
DELETE_EXPIRED_DAYS=5
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_AUTH=user:password
# Add the following variables if you plan on running the tests
ELASTICSEARCH_TEST_HOST=elasticsearch_test
ELASTICSEARCH_TEST_AUTH=user:password
# Outbound email settings
MTP_HOST=
MTP_RELAY=
MTP_PORT=
MTP_USER=
MTP_PASS=
MTP_DESTINATION=
LDAP_HOST=
LDAP_PORT=
AUTH_LDAP_BIND_DN=
AUTH_LDAP_BIND_PASSWORD=
LDAP_AUTH_USER_DN=

#Django Q settings
DJ_Q_WORKERS=3