DJANGO_MIGRATE=no
DJANGO_COLLECT_STATIC=no

ALLOWED_HOSTS=*
SECRET_KEY=secret
DEBUG=True

SENTRY_DSN=
SENTRY_PUBLIC_DSN=

FTP_URL=ted.europa.eu
TED_DAYS_AGO=

BASE_URL=
EMAIL_HOST=
EMAIL_PORT=

DEADLINE_NOTIFICATIONS=

TED_DOC_TYPES=
TED_AUTH_TYPE=

EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

DELETE_EXPIRED_DAYS=

ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_AUTH=user:password
# Add the following variables if you plan on running the tests
ELASTICSEARCH_TEST_HOST=elasticsearch_test
ELASTICSEARCH_TEST_AUTH=user:password

KEYWORDS=
