.mgn-table {
  width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.mgn-display {
  width: 85px;
}

.mgn-table > tbody > tr > td {
  vertical-align: middle;
}

.log-table {
  width: 80%;
  margin-bottom: 50px;
}

.icon-log {
  width: 32px;
  height: 32px;
}

.see-more {
  color: dodgerblue;
}

.see-more:hover {
  text-decoration: underline;
  cursor: pointer;
}
