.filter_menu {
  padding-top: 20px;
  margin-left: 130px;
  margin-right: 130px;
  min-width: 700px;
}
.up_bar {
  background: #333;
  border-radius: 3px;
  padding-left: 5px;
  height:30px;
  font-weight: bold;
  font-family: "Arial";
  font-size: large;
  color: white;
}

.bottom_bar {
  background: #f8f8f8;
  border-radius: 3px;
  border: 2px solid gainsboro;
  padding-left: 5px;
  padding-top: 5px;
  font-weight: bold;
  font-family: "Arial";
  font-size: 15px;
  position: relative;
}

.bottom_bar form {
  padding-left: 0;
}

.select2-selection {
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
}

.select2-selection--multiple {
  min-height: 0px !important;
  height: 30.6px;
}

.select2-container {
  width: 100% !important;
}

.select2-dropdown {
  border: var(--bs-border-width) solid var(--bs-border-color);
  font-size: 14px;
}

.flexed {
  display: flex;
}

.filter_button {
  width: 120px;
  font-family: "Arial";
}

.div_button {
  padding-top: 22.5px;
  padding-right: 10px;
  padding-left: 10px;
}

.date_filter {
  margin-top: 13px;
  padding-left: 10px;
  font-size: 17px;
  font-weight: bold;
  color: #447e9b;
}

.quiet {
  padding-left: 12px;
  font-size: 14px;
  font-weight: normal;
  color: #666666;
}

.disable {
  color: gray;
  pointer-events:none;
}

.not-allowed {
  cursor: not-allowed
}

#form_id{
  width:100%
}

#id_type {
  min-width: 140px;
}