.overview-page {
  width: 40%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: 53%;
  padding-top: 10px;

}

.overview-page-list {
  margin-left: 50px;
  list-style-type: disc;
}

h3 {
  margin-top: 25px;
}

.table_container {
  padding-top: 5px;
  width: 35% !important;
}

.thead-dark {
  background: #333333;
  color: white;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 8px 18px;
}
