.table-responsive {
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
}

.link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.table_detail td:first-child {
  width: 140px;
}

.table_detail th {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid black;
  border-left: none;
}

.table_detail tr:last-child {
  border-bottom: 1px solid black;
}

.original-link {
  font-style: italic;
  font-size: 12px;
}

.award_detail {
  max-width: 60%;
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ul_buttons {
  font-size: 140%;
  min-width: 114px;
  min-height: 25px;
  padding: 10px 0px 10px 0px;
  margin: 0px;
}

.li_buttons {
  float: left;
  padding-right: 6px;
}

.li_buttons i {
  cursor: pointer;
}

.li_buttons sub {
  display: block;
  left: 2.5em;
  top: 0.2em;
  font-size: 9px;
  font-weight: normal;
}

.table_detail .li_buttons sub {
  top: -0.2em;
}

.description {
  vertical-align: top;
}

.more-link {
  font-size: 12px;
  float: right;
  padding-right: 9px;
}

.award-link-icon {
  color: black;
  background-color: transparent;
  cursor: pointer;
  display: grid;
  place-items: center;
  padding: 30px 0px 10px 0px;
}

.table {
  width: 100% !important;
}

.dataTables_filter {
  position: relative;
}

.dataTables_filter input {
  padding-left: 30px;
}

.dataTables_filter label::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E");
  position: absolute;
  top: 5px;
  margin-left: 14px;
  background-size: cover;
  opacity: 0.4;
}

.col-sm {
  padding-left: 1em;
}

table a {
  text-decoration: none;
}

table a:hover {
  text-decoration: underline;
}