.dataTables_filter input {
  width: 300px;
  border-radius: 20px;
  border: 2px solid #D3D3D3;
}

.table {
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
}

.link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.table_detail {
  padding: 45px;
}

.original-link {
  font-style: italic;
  font-size: 12px;
}

.award_detail {
  max-width: 60%;
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ul_buttons {
  min-width: 100px;
  min-height: 25px;
  padding: 10px 0px 10px 0px;
  margin: 0px;
}

.li_buttons {
  float: left;
  padding-left: 3px;
}

.li_buttons i {
  cursor: pointer;
}

.description {
  vertical-align: top;
}

.more-link {
  font-size: 12px;
  float: right;
  padding-right: 9px;
}
