<!DOCTYPE html>
<html lang="en">
  {% load static %}
  {% load widget_tweaks %}
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/filter_bar.css' %}">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/> {% endcomment %}
  </head>

  <body>
    <div class="filter_menu">
      <div class="row up_bar">
        <div class="col-sm">
          <p>Filter</p>
        </div>
      </div>

      <div class="row bottom_bar">
        <form method="GET" id="form_id">
          <div class="flexed">
            <div class="mb-3 px-3 col-sm">
              {{ form.organization.label }}
              {% render_field form.organization class+="form-select form-select-sm" %}
            </div>

            {% if not vendor %}
            <div class="mb-3 px-3 col-sm">
              {{ form.vendor.label }}
              {% render_field form.vendor class+="form-select form-select-sm" %}
            </div>
            {% else %}
            <div class="mb-3 px-3 col-sm not-allowed">
              <div class="mb-3 px-3 col-sm disable">
                {{ form.vendor.label }} (Fixed value)
                {% render_field form.vendor class+="form-select form-select-sm" %}
              </div>
            </div>

            {% endif %}

          </div>

          <div class="flexed">
            <div class="mb-3 px-3 col-sm">
              {{ form.source.label }}
              {% render_field form.source class+="form-select form-select-sm" %}
            </div>

            <div class="mb-3 px-3 col-sm">
              {{ form.value.label }}
              {% render_field form.value class+="form-select form-select-sm" %}
            </div>


            {% if reset %}
              {% if not vendor %}
                <div class="div_button">
                  <a href="{% url 'contract_awards_list_view' %}"><button type="button" name="reset_filters" value="reset" class="btn btn-dark filter_button">Reset filters</button></a>
                </div>
              {% else %}
                <div class="div_button">
                  <a href="{% url 'vendor_detail_view' vendor.pk %}"><button type="button" name="reset_filters" value="reset" class="btn btn-dark filter_button">Reset filters</button></a>
                </div>

              {% endif %}
            {% endif %}

            <div class="div_button">
              <button type="submit" name="filter_button" value="filter" class="btn btn-dark btn-sm filter_button">Filter</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </body>
</html>
