<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load tags %}
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/tenders_table.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav_menu.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/overview.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/commands.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-confirm.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'fontawesome6/css/fontawesome.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'fontawesome6/css/brands.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'fontawesome6/css/regular.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'fontawesome6/css/solid.css' %}">
  <script type="text/javascript" src="{%  static 'js/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/scratch_datatables.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-confirm.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/datatable_moment.js' %}"></script>
  <script type="text/javascript" src="{%  static 'js/overview.js' %}"></script>
  {% block title %}
  {% endblock %}
</head>
<body>

{% url 'homepage_view' as homepage %}
{% url 'tenders_list_view' as tender_list %}
{% url 'contract_awards_list_view' as awards_list %}
{% url 'overview_view' as overview %}
{% url 'login_view' as login %}
{% url 'logout_view' as logout %}
{% url 'tenders_archive_list' as archives %}
{% url 'management_view' as management %}
{% url 'admin_view' as admin %}

<ul class="nav-menu1">
  <li><a class="{% active request homepage %} nav-menu2" href="{{ homepage }}">Home</a></li>
  <li><a class="{% active request tender_list %} nav-menu2" href="{{ tender_list }}">Tenders</a></li>
  <li><a class="{% active request awards_list %} nav-menu2" href="{{ awards_list }}">Contract Awards</a></li>
  <li><a class="{% active request archives %} nav-menu2" href="{{ archives }}"> Archive </a></li>
  <li><a class="{% active request overview %} nav-menu2" href="{{ overview }}">Overview</a></li>
  {% if user.is_authenticated and user.is_superuser %}
    <li><a class="{% active request management %} nav-menu2" href="{{ management }}">Management</a></li>
    <li><a class="{% active request admin %} nav-menu2" href="{{ admin }}">Admin</a></li>
  {% endif %}

  {% if user.is_authenticated %}
    <li><a class="{% active request logout %} nav-menu-logout" href="{{ logout }}">Logout</a></li>
    <li class="nav-menu-logout">Welcome, {{request.user.username }}</li>
  {% else %}
    <li><a class="{% active request login %} nav-menu-logout" href="{{ login }}">Login</a></li>
  {% endif %}
</ul>

{% block content %}
{% endblock %}
</body>
</html>
