<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load tags %}
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/tenders_table.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav_menu.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/overview.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-confirm.min.css' %}"/>
  <script type="text/javascript" src="{%  static 'js/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/tenders_table.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-confirm.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/datatable_moment.js' %}"></script>
  {% block title %}
  {% endblock %}
</head>
<body>

{% url 'homepage_view' as homepage %}
{% url 'tenders_list_view' as tender_list %}
{% url 'contract_awards_list_view' as awards %}
{% url 'overview_view' as overview %}
{% url 'login_view' as login %}
{% url 'logout_view' as logout %}
{% url 'tenders_archive_list' as archives %}

<ul class="nav-menu1">
  <li><a class="{% active request homepage %} nav-menu2" href="{{ homepage }}">Home</a></li>
  <li><a class="{% active request tender_list %} nav-menu2" href="{{ tender_list }}">Tenders</a></li>
  <li><a class="{% active request awards %} nav-menu2" href="{{ awards }}">Contract Awards</a></li>
  <li><a class="{% active request archives %} nav-menu2" href="{{ archives }}"> Archive </a></li>
  <li><a class="{% active request overview %} nav-menu2" href="{{ overview }}">Overview</a></li>
  {% if user.is_authenticated %}
    <li><a class="{% active request logout %} nav-menu-logout" href="{{ logout }}">Logout</a></li>
    <li class="nav-menu-logout">Welcome, {{request.user.username }}</li>
  {% else %}
    <li><a class="{% active request login %} nav-menu-logout" href="{{ login }}">Login</a></li>
  {% endif %}
</ul>

{% block content %}
{% endblock %}
</body>
</html>
