<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load tags %}
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
  <script src="{% static 'tenders_table.js'%}"></script>
  <link rel ="stylesheet" type="text/css" href="{% static 'tenders_table.css'%}"}>
  <link rel ="stylesheet" type="text/css" href="{% static 'nav_menu.css'%}">
  <link rel ="stylesheet" type="text/css" href="{% static 'login.css'%}"}>
  <link rel ="stylesheet" type="text/css" href="{% static 'homepage.css'%}"}>
  <link rel ="stylesheet" type="text/css" href="{% static 'overview.css'%}"}>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  {% block title %}
  {% endblock %}
</head>
<body>

{% url 'homepage_view' as homepage %}
{% url 'tenders_list_view' as tender_list %}
{% url 'contract_awards_list_view' as awards %}
{% url 'overview_view' as overview %}
{% url 'login_view' as login %}
{% url 'logout_view' as logout %}
{% url 'tenders_archive_list' as archives %}

<ul class="nav-menu1">
  <li><a class="{% active request homepage %} nav-menu2" href="{{ homepage }}">Home</a></li>
  <li><a class="{% active request tender_list %} nav-menu2" href="{{ tender_list }}">Tenders</a></li>
  <li><a class="{% active request awards %} nav-menu2" href="{{ awards }}">Contract Awards</a></li>
  <li><a class="{% active request overview %} nav-menu2" href="{{ overview }}">Overview</a></li>
  <li><a class="{% active request archives %} nav-menu2" href="{{ archives }}"> Archive </a></li>
  {% if user.is_authenticated %}
    <li><a class="{% active request logout %} nav-menu-logout" href="{{ logout }}">Logout</a></li>
  {% else %}
    <li><a class="{% active request login %} nav-menu-logout" href="{{ login }}">Login</a></li>
  {% endif %}
</ul>

{% block content %}
{% endblock %}
</body>
</html>
