{% extends 'base.html' %}

{% block title %}
  <title>Scratch - Contract Awards</title>
{% endblock %}

{% block content %}

  <div class="row table" >
    <h1 class="col-sm-12">
      <span>Contract Awards</span>
    </h1>
  </div>

  {% include 'awards_filters.html' %}

  <div class = "table" >
    <table id="tenders_table"  class="cell-border display compact">
      <thead>
      <tr>
        <th>Title</th>
        <th>Source</th>
        <th>Organization</th>
        <th>Award Date</th>
        <th>Vendor</th>
        <th>Value</th>
        <th>Currency</th>
      </tr>
      </thead>
      <tbody>
      {% for winner in winners %}
        <tr>
          <td><a href="{% url 'tender_detail_view' winner.tender.id %}" class="link">{{ winner.tender.title }}</a></td>
          <td>{{ winner.tender.source }}</td>
          <td>{{ winner.tender.organization }}</td>
          <td>{{ winner.award_date | date:'d M Y' }}</td>
          <td>{{ winner.vendor }}</td>
          <td>{{ winner.value }}</td>
          <td>{{ winner.currency }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
