{% extends 'base.html' %}

{% block title %}
  <title>Scratch - Contract Awards</title>
{% endblock %}

{% block content %}

  <div class="row" >
    <h1 class="col-sm-12">
      <span>Contract Awards</span>
    </h1>
  </div>

  {% include 'awards_filters.html' %}

  <div class = "table-responsive" >
    <table id="contract_awards_table"  class="table table-bordered table-striped align-top">
      <thead>
      <tr>
        <th>Title</th>
        <th>Source</th>
        <th>Organization</th>
        <th style="width: 90px;">Award Date</th>
        <th style="width: 90px;">Renewal Date</th>
        <th style="width: 400px;">Vendor(s)</th>
        <th>Value</th>
        <th>Currency</th>
      </tr>
      </thead>
    </table>
  </div>

{% endblock %}
