{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Scratch - Tender {{ tender.id }}</title>
{% endblock %}
{% block content %}
<p id="usr_seen_by" hidden>{{ user.username }}</p>
<div class="table_detail" >
  <table id="tender_detail_table" class="cell-border display">
    <thead>
      <th>Favourite</th>
      <th>
        <ul>
          <li class="li_buttons">
            {% if tender.favourite == False %}
            <button type="button" action="{% url 'tender_favourite_view' tender.id %}" class="favourite_button" id="fav_button"></button>
            {% else %}
            <button type="button" action="{% url 'tender_favourite_view' tender.id %}"  class="favourite_pressed" id="fav_button"></button>
          </li>
          {% endif %}
          </li>
          <li class="li_buttons">
            {% if tender.seen_by %}
            <button type="button" action="{% url 'tender_seen_view' tender.id %}" class="seen_pressed" id="seen_button"></button>
          <li class="li_buttons"><span id="seen_usr">{{ tender.seen_by }}</span></li>
          {% else %}
          <button type="button" action="{% url 'tender_seen_view' tender.id %}"  class="seen_button" id="seen_button"></button></li>
          <li class="li_buttons"><span id="seen_usr"></span></li>
          {% endif %}
          </li>
          <li class="li_buttons"><button type="button" action="{% url 'tender_delete_view' tender.id %}"  class="remove_button" id="remove_button_detail" name="{{ tender.marked_keyword_title|safe }}"></button></li>
        </ul>
      </th>
    </thead>
    <tbody>
      <tr>
        <td>Type of notice</td>
        <td> {{ tender.notice_type }}</td>
      </tr>
      <tr>
        <td>Link to tender</td>
        <td><a href="{{ tender.url }}" target="_blank">{{ tender.url }}</a></td>
      </tr>
      <tr>
        <td>Title</td>
        <td>{{ tender.title }}</td>
      </tr>
      <tr>
        <td>Organization</td>
        <td>{{ tender.organization }}</td>
      </tr>
      <tr>
        <td>Published</td>
        {% if tender.published %}
        <td>{{ tender.published }}</td>
        {% else %}
        <td>Not specified</td>
        {% endif %}
      </tr>
      <tr>
        <td>Reference</td>
        <td>{{ tender.reference }}</td>
      </tr>
      <td>Deadline</td>
      {% if tender.deadline %}
      <td>{{ tender.deadline }}</td>
      </tr>
      <tr>
        <td>Days remaining</td>
        {% if deadline_in %}
        <td><b> {{ deadline_in }} </b></td>
        {% else %}
        <td><b style="color: red">Deadline passed</b></td>
        {% endif %}
      </tr>
      {% else %}
      <td>Not specified</td>
      {% endif %}
      <tr>
        <td>Description</td>
        <td>{{ tender.marked_keyword_description | safe | linebreaks }}</td>
      </tr>
      {% if tender.keywords.all.count > 0 %}
      <tr>
        <td>Keywords</td>
        <td>
          {% for keyword in tender.keywords.all %}
            <span class="badge badge-danger">{{ keyword }}</span>
          {% endfor %}
        </td>
      </tr>
      {% endif %}
      <tr>
        {% if tender.source == 'UNGM' %}
        <td>UNSPSCS codes</td>
        <td>{{ tender.unspsc_codes }}</td>
        {% else %}
        <td>CPV codes</td>
        <td>{{ tender.cpv_codes }}</td>
        {% endif %}
      </tr>
      <tr>
        <td class="description">Documents</td>
        <td>
          {% for doc in documents_set %}
          <p><a href="{{ doc.document.url }}">{{ doc.name }}</a> (<span class="original-link"><a href="{{ doc.download_url }}" target="_blank">Original URL</a></span>)</p>
          {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
