{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Scratch - Tender {{ tender.id }}</title>
{% endblock %}
{% block content %}
<p id="usr_seen_by" hidden>{{ user.username }}</p>
<div class="table_detail" >

  
  <table id="tender_detail_table" class="cell-border display">
    <thead>
      <th>Favourite</th>
      <th>
        {% include "tenders_buttons.html" %}
      </th>
    </thead>
    <tbody>
      <tr>
        <td>Type of notice</td>
        <td> {{ tender.notice_type }}</td>
      </tr>
      <tr>
        <td>Link to tender</td>
        <td><a href="{{ tender.url }}" target="_blank">{{ tender.url }}</a></td>
      </tr>
      <tr>
        <td>Title</td>
        <td>{{ tender.marked_keyword_title|safe }}</td>
      </tr>
      <tr>
        <td>Organization</td>
        <td>{{ tender.organization }}</td>
      </tr>
      <tr>
        <td>Published</td>
        {% if tender.published %}
        <td>{{ tender.published }}</td>
        {% else %}
        <td>Not specified</td>
        {% endif %}
      </tr>
      <tr>
        <td>Reference</td>
        <td>{{ tender.reference }}</td>
      </tr>
      <td>Deadline</td>
      {% if tender.deadline %}
      <td>{{ tender.deadline }}</td>
      </tr>
      <tr>
        <td>Days remaining</td>
        {% if deadline_in %}
        <td><b> {{ deadline_in }} </b></td>
        {% else %}
        <td><b style="color: red">Deadline passed</b></td>
        {% endif %}
      </tr>
      {% else %}
      <td>Not specified</td>
      {% endif %}
      <tr>
        <td>Description</td>
        <td>{{ tender.marked_keyword_description|safe|linebreaks }}</td>
      </tr>
      {% if tender.keywords.all.count > 0 %}
      <tr>
        <td>Keywords</td>
        <td>
          {% for keyword in tender.keywords.all %}
            <span class="badge badge-danger">{{ keyword }}</span>
          {% endfor %}
        </td>
      </tr>
      {% endif %}
      <tr>
        {% if tender.source == 'UNGM' %}
        <td>UNSPSCS codes</td>
        <td>{{ tender.unspsc_codes }}</td>
        {% else %}
        <td>CPV codes</td>
        <td>{{ tender.cpv_codes }}</td>
        {% endif %}
      </tr>
      <tr>
        <td class="description">Documents</td>
        <td>
          {% for doc in documents_set %}
          <p><a href="{{ doc.document.url }}">{{ doc.name }}</a> (<span class="original-link"><a href="{{ doc.download_url }}" target="_blank">Original URL</a></span>)</p>
          {% endfor %}
        </td>
  
      </tr>
      <tr>
        <td class="description">Tags</td>
        <td>
          <p id="tags_list_displayed">
           {{ tender.tags.all|join:", " }} 
          </p>
  
        </td>
      </tr>
    </tbody>
  </table>

  
<div class="container  mx-2 py-4">
  <div class="row">
    
    <div class="col-sm-1">
      Add tag: 
    </div>
    <div class="col-sm-2">
      <input type="text" class="form-control" placeholder="Add tag" list="tags" id="tagValue">
    </div>
    <div class="col-sm-4">
      <button action="{% url 'tender_tag_view' tender.id %}"  type="button" class="btn btn-primary btn"  id="add_tag_button">Add</button>
    </div>    
  </div>
</div>

<datalist id="tags">
  {% for tag in tags_autocomplete %}
  {% if tag not in tender.tags.all %}
  <option value="{{ tag.name }}"></option>
  {% endif %}
  {% endfor %}
</datalist>

</div>

<div class="table_detail" >

  {% if tender.awards.all %}
      {% for award in tender.awards.all %}
          <table id="award_detail_table" class="cell-border display award_detail">
            <br>
            <thead>
            <th>Award</th>
            <th><span><a href="{% url 'contract_awards_detail_view' award.id %}">{{ award.tender.title}}</a></span></th>
            </thead>
            <tbody>
            <tr>
              <td>Link to tender</td>
              <td><a href="{{ award.tender.url }}" target="_blank">{{ award.tender.url }}</a></td>
            </tr>
            <tr>
              <td>Award Date</td>
              <td>{{ award.award_date | date:'d M Y' }}</td>
            </tr>
            <tr>
              <td>Renewal Date</td>
              {% if award.renewal_date %}
              <td>{{ award.renewal_date | date:'d M Y' }}</td>
              {% else %}
              <td style="color: red">This contract is not subject to renewal</td>
              {% endif %}
            </tr>
            <tr>
              <td>Vendor(s)</td>
              <td>
                <ol style="list-style-position: inside;">
                  {% for vendor in award.vendors.all %}
                    <li>{{ vendor }}</li>
                  {% endfor %}
                </ol>
              </td>
            </tr>
            <tr>
              <td>Value {% if award.tender.source == 'TED' %}(total value for all lots){% endif %}</td>
              <td>{{ award.value | floatformat:'0' }}</td>
            </tr>
            <tr>
              <td>Currency</td>
              <td>{{ award.currency }}</td>
            </tr>
            </tbody>
          </table>

      {% endfor %}

  {% endif %}
  

</div>
<style>
  mark {
      background: yellow;
  }
</style>

<script type="text/javascript" src="{%  static 'js/detail_tender_view.js' %}"></script>

{% endblock %}
