{% extends 'base.html' %}

{% block title %}
    <title>Scratch - Management</title>
{% endblock %}

{% block content %}

    <div style="text-align: center">
        <div class="row table" style="text-align: center">
            <h1 class="col-sm-12">
                <span>Commands</span>
            </h1>
        </div>
        <br>

        <form method="POST" class="mgn-table">
            {% csrf_token %}


            <table class="table table-striped mgn-table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Run command</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <th scope="row">Update UNGM</th>
                    <td>Gets all UNGM tenders from the past day</td>
                    <td><button type="submit" name="update_ungm" class="btn btn-primary">Run</button></td>
                </tr>

                <tr>
                    <th scope="row">Update TED</th>
                    <td>Gets all TED tenders from the past day</td>
                    <td><button type="submit" name="update_ted" class="btn btn-primary">Run</button></td>
                </tr>

                <tr>
                    <th scope="row">Add winner</th>
                    <td>Gets all awards from the past day</td>
                    <td><button type="submit" name="add_winner" class="btn btn-primary">Run</button></td>
                </tr>

                <tr>
                    <th scope="row">Notify</th>
                    <td>Notifies all users about new available tenders</td>
                    <td><button type="submit" name="notify" class="btn btn-primary">Run</button></td>
                </tr>

                <tr>
                    <th scope="row">Notify favorites</th>
                    <td>Notifies all users about favorite tenders updates</td>
                    <td><button type="submit" name="notify_favorites" class="btn btn-primary">Run</button></td>
                </tr>

                <tr>
                    <th scope="row">Notify keywords</th>
                    <td>Notifies all users about tenders which contain one or more keywords</td>
                    <td><button type="submit" name="notify_keywords" class="btn btn-primary">Run</button></td>
                </tr>

                <tr>
                    <th scope="row">Deadline notifications</th>
                    <td>Send deadline notifications to all users if there are tenders with 1, 3 or 7 days left</td>
                    <td><button type="submit" name="deadline_notifications" class="btn btn-primary">Run</button></td>
                </tr>

                <tr>
                    <th scope="row">Remove newlines</th>
                    <td>Removes unnecessary newlines from award vendors name</td>
                    <td><button type="submit" name="remove_unnecessary_newlines" class="btn btn-primary">Run</button></td>
                </tr>

                </tbody>
            </table>


        </form>
    </div>




{% endblock %}