{% extends 'base.html' %}

{% block title %}
<title>Scratch - Management</title>
{% endblock %}

{% block content %}
<script src="../static/js/management.js"></script>
<div style="text-align: center">
  <div class="row table" style="text-align: center">
    <h1 class="col-sm-12">
      <span>Commands</span>
    </h1>
  </div>
  <br>
  <form method="POST" class="mgn-table">
    {% csrf_token %}
    <table class="table table-striped mgn-table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Run command</th>
          <th scope="col">Parameters</th>
        </tr>
      </thead>
      <tbody>
        {% for command in commands %}
        <tr>
          <th scope="row" style="vertical-align: middle">{{ command.name }}</th>
          <td>{{ command.help }}</td>
          <td><button type="submit" name="{{ command.name }}" class="btn btn-primary">Run</button></td>
          <td>
            <ul class="list-group">
              {% for param in command.params %}
              <li class="list-group-item">
                {% if param.type == "checkbox" %}
                <span>{{ param.display }}</span>
                <input type="{{ param.type }}" name="{{ command.name }}__{{ param.name }}">
                {% else %}
                <input type="{{ param.type }}" name="{{ command.name }}__{{ param.name }}" class="mgn-display" placeholder="{{ param.display }}">
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
  <div class="row table" style="text-align: center">
    <h1 class="col-sm-12">
      <span id="logs">Logs</span>
    </h1>
  </div>
  <table class="table table-striped mgn-table log-table">
    <thead>
      <tr>
        <th scope="col">Command</th>
        <th scope="col">Parameters</th>
        <th scope="col">Started</th>
        <th scope="col">Finished</th>
        <th scope="col">Output</th>
        <th scope="col">State</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <th scope="row" style="vertical-align: middle">{{ task.args }}</th>
        <td>{{ task.kwargs }}</td>
        <td>{{ task.started }}</td>

        <td>
        {% if task.stopped %}
          {{ task.stopped }}
        {% endif %}
        </td>

        <td style="width: 30%">
          {% if task.output %}
            {{ task.output | truncatechars:255 }}
          {% endif %}

          {% if task.output|length > 255 %}
          <span class="see-more" data-toggle="modal" data-target="#exampleModal">See more</span>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Output report</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {{ task.output }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </td>
        <td>
          <a href="{% url 'management_delete_view' task.id %}">
          {% if task.status == 'success' %}
          <img src="../static/images/success.png" class="icon-log">
          {% elif task.status == 'processing' %}
          <img src="../static/images/processing.png" class="icon-log">
          {% else %}
          <img src="../static/images/error.png" class="icon-log">
          {% endif %}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
