<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <link rel ="stylesheet" type="text/css" href="{% static 'filter_bar.css'%}"}>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div class="filter_menu">
  <div class="row up_bar">
    <div class="col-sm">
      <p>Filter</p>
    </div>
  </div>
  <form method="GET">
    {% csrf_token %}
    <div class="row bottom_bar">
      <div class="col-sm-2">
        {{ form.organization.label }}
        {{ form.organization }}
      </div>
      <div class="col-sm">
        {{ form.status.label }}
        {{ form.status }}
      </div>
      <div class="col-sm">
        {{ form.source.label }}
        {{ form.source }}
      </div>
      <div class ="col-sm-4">
        {{ form.favourite.label }}
        {{ form.favourite }}
      </div>
      <div class="col-sm">
        <button type="button" id="reset_filters">Reset filters</button>
      </div>
      <div class="col-sm col_center">
        <button type="submit" name="filter_button" value="filter">Filter</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>
