<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <link rel ="stylesheet" type="text/css" href="{% static 'filter_bar.css'%}"}>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div class="filter_menu">
  <div class="row up_bar">
    <div class="col-sm">
      <p>Filter</p>
    </div>
  </div>
  <div class="row bottom_bar">
    <div class="col-sm">
      {{ form.organization.label }}
      {{ form.organization }}
    </div>
    <div class="col-sm">
      {{ form.status.label }}
      {{ form.status }}
    </div>
    <div class="col-sm">
      {{ form.source.label }}
      {{ form.source }}
    </div>
    <div class ="col-sm">
      {{ form.favourite.label }}
      {{ form.favourite }}
    </div>
    <div class="com-sm">
      <button type="button" onclick="alert('Hello world!')">Click Me!</button>

    </div>
  </div>
</div>
</body>

</html>
