{% extends 'base.html' %}

{% block title %}
  <title>Scratch - Tenders</title>
{% endblock %}

{% block content %}

  <div class="row table" >
    <h1 class="col-sm-12">
      <span>Tenders</span>
    </h1>
  </div>

  {% include 'tenders_filters.html' %}

  <div class = "table" >
    <table id="tenders_table"  class="cell-border display compact">
      <thead>
      <tr>
        <th>Title</th>
        <th>Source</th>
        <th>Organization</th>
        <th>Deadline</th>
        <th>Published</th>
        <th>Type of notice</th>
      </tr>
      </thead>
      <tbody>
      {% for tender in tenders %}
        <tr>
          <p id="usr_seen_by" hidden>{{ user.username }}</p>
          <td><a href="{% url 'tender_detail_view' tender.id %}" class="link">{{ tender.marked_keyword_title|safe }}</a></td>
          <td>{{ tender.source }}</td>
          <td>{{ tender.organization }}</td>
          {% if tender.deadline %}
            <td>{{ tender.deadline | date:'d M Y, H:i' }}</td>
          {% else %}
            <td>Not specified</td>
          {% endif %}
          {% if tender.published %}
            <td>{{ tender.published | date:'d M Y' }}</td>
          {% else %}
            <td>Not specified</td>
          {% endif %}
          <td>
            {{ tender.notice_type }}
            <ul>
              {% if tender.favourite == False %}
                <li class="li_buttons"><button type="button" action="{% url 'tender_favourite_view' tender.id %}" class="favourite_button" id="fav_button"></button></li>
              {% else %}
                <li class="li_buttons"><button type="button" action="{% url 'tender_favourite_view' tender.id %}"  class="favourite_pressed" id="fav_button"></button></li>
              {% endif %}

              {% if tender.seen_by %}
                <li class="li_buttons"><button type="button" action="{% url 'tender_seen_view' tender.id %}" class="seen_pressed" id="seen_button"></button></li>
              {% else %}
                <li class="li_buttons"><button type="button" action="{% url 'tender_seen_view' tender.id %}"  class="seen_button" id="seen_button"></button></li>
              {% endif %}
              <span id="seen_usr" hidden></span>
              <li class="li_buttons"><button type="button" action="{% url 'tender_delete_view' tender.id %}"  class="remove_button" id="remove_button_list" name="{{ tender.title }}"></button></li>
            </ul>
            {% for keyword in tender.keywords.all|slice:"0:3" %}
                <span class="badge badge-danger">{{ keyword }}</span>
            {% endfor %}

            {% if tender.keywords.count > 3 %}
                <span><a href="{% url 'tender_detail_view' tender.id %}" class="link more-link">... and {{ tender.keywords.count|add:"-3" }} more</a></span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <style>
    mark {
      background: yellow;
    }
  </style>

{% endblock %}
