<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  {% load widget_tweaks %}
  <link rel ="stylesheet" type="text/css" href="{% static 'css/filter_bar.css' %}" }>
</head>

<body>
<div class="filter_menu">
  <div class="row up_bar">
    <div class="col-sm">
      <p>Filter</p>
    </div>
  </div>

  <div class="row bottom_bar">
    <form method="GET" id="form_id">

      <div class="flexed">
        <div class="mb-3 px-3 col-lg">
          {{ form.organization.label }}
          {% render_field form.organization class+="form-select form-select-sm" %}
        </div>
      </div>

      <div class="flexed">
        <div class="mb-3 px-3 col-sm">
          {{ form.status.label }}
          {% render_field form.status class+="form-select form-select-sm" %}
        </div>

        <div class="mb-3 px-3 col-sm">
          {{ form.source.label }}
          {% render_field form.source class+="form-select form-select-sm" %}
        </div>

        <div class ="mb-3 px-3 col-sm">
          {{ form.favourite.label }}
          {% render_field form.favourite class+="form-select form-select-sm" %}
        </div>

        <div class ="mb-3 px-3 col-sm">
          {{ form.keyword.label }}
          {% render_field form.keyword class+="form-select form-select-sm" %}
        </div>

        <div class ="mb-3 px-3 col-sm">
          {{ form.type.label }}
          {% render_field form.type class+="form-select form-select-sm" %}
        </div>

        <div class ="mb-3 px-3 col-sm">
          {{ form.seen.label }}
          {% render_field form.seen class+="form-select form-select-sm" %}
        </div>
        <div class ="col-sm">
          {{ form.tags.label }}
          {% render_field form.tags class+="form-control form-control-sm" %}
        </div>
          {% if reset %}
          <div class="div_button">
            <a href="{{ reset_url }}"><button type="button" name="reset_filters" value="reset" class="btn btn-dark filter_button">Reset filters</button></a>
          </div>
        {% endif %}

        <div class="div_button">
          <button type="submit" name="filter_button" value="filter" class="btn btn-dark btn-sm filter_button">Filter</button>
        </div>
      </div>
    </form>
  </div>
  <div >
  </div>
</div>

  {% if ungm_published_today %}
    <ul>
      <li class="date_filter">UNGM tenders published today</li>
      <li class="quiet">Remove filter by pressing <a href="{{ reset_url }}" style="color: red">RESET FILTERS</a></li>
    </ul>
  {% endif %}

  {% if ungm_deadline_today %}
    <ul>
      <li class="date_filter">UNGM tenders deadline today</li>
      <li class="quiet">Remove filter by pressing <a href="{{ reset_url }}" style="color: red">RESET FILTERS</a></li>
    </ul>

  {% endif %}

  {% if ted_published_today %}
    <ul>
      <li class="date_filter">TED tenders published today</li>
      <li class="quiet">Remove filter by pressing <a href="{{ reset_url }}" style="color: red">RESET FILTERS</a></li>
    </ul>
  {% endif %}

  {% if ted_deadline_today %}
    <ul>
      <li class="date_filter">TED tenders deadline today</li>
      <li class="quiet">Remove filter by pressing <a href="{{ reset_url }}" style="color: red">RESET FILTERS</a></li>
    </ul>
  {% endif %}
</div>
</body>
</html>
