{% if include_notice_type %}
  {{ tender.notice_type }}
{% endif %}
<ul class="ul_buttons">
  {% if tender_is_user_favorite %}
  <li class="li_buttons" title="Unmark as favorite"><i id="fav_button" class="bi bi-star-fill pressed fav_button" data-url="{% url 'tender_favourite_view' tender.id %}"></i></li>
  {% else %}
  <li class="li_buttons" title="Mark as favorite"><i id="fav_button" class="bi bi-star fav_button" data-url="{% url 'tender_favourite_view' tender.id %}"></i></li>
  {% endif %}
  <li class="li_buttons" title="Manage followers">
  {% if tender.followers.exists %}
    <i id="add_follower_button_{{ tender.id }}" class="bi-people-fill pressed people" data-url="{% url 'tender_followers_view' tender.id %}"></i>
    <sub>{{ tender.followers.count }}</sub>
  {% else %}
    <i id="add_follower_button_{{ tender.id }}" class="bi-people people" data-url="{% url 'tender_followers_view' tender.id %}"></i>
    <sub></sub>
  {% endif %}
  </li>
  {% if tender.seen_by %}
    <li class="li_buttons" title="Unmark as seen"><i id="seen_button" class="bi-eye-fill pressed" data-url="{% url 'tender_seen_view' tender.id %}"></i></li>
  {% else %}
    <li class="li_buttons" title="Mark as seen"><i id="seen_button" class="bi-eye" data-url="{% url 'tender_seen_view' tender.id %}"></i></li>
  {% endif %}
  <li class="li_buttons" title="Delete tender"><i id="remove_button" class="bi-trash remove_button" data-url="{% url 'tender_delete_view' tender.id %}" data-name="{{ tender.title }}"></i></li>
</ul>
{% for keyword in tender.keywords.all|slice:"0:3" %}
    <span class="badge badge-danger">{{ keyword }}</span>
{% endfor %}

{% if tender.keywords.count > 3 %}
    <span><a href="{% url 'tender_detail_view' tender.id %}" class="link more-link">... and {{ tender.keywords.count|add:"-3" }} more</a></span>
{% endif %}