{% extends 'base.html' %}

{% block title %}
  <title>Scratch - Tenders</title>
{% endblock %}

{% block content %}

  <div class="row table" >
    <h1 class="col-sm-12">
      <span>Tenders</span>
    </h1>
  </div>

  {% include 'tenders_filters.html' %}

  <div class = "table" >
    <table id="tenders_table"  class="cell-border display compact">
      <thead>
      <tr>
        <th>Title</th>
        <th>Source</th>
        <th>Organization</th>
        <th>Deadline</th>
        <th>Published</th>
        <th>Tags</th>
        <th>Type of notice</th>
      </tr>
      </thead>
    </table>
  </div>

  <style>
    mark {
      background: yellow;
    }
  </style>

{% endblock %}
