{% extends 'base.html' %}

{% block title %}
  <title>Scratch - Tenders Archive</title>
{% endblock %}

{% block content %}

<h1 class="col-sm-12">
  <span>Tenders Archive</span>
</h1>

{% include 'tenders_filters.html' %}
<div class="table-responsive">
  <table id="tenders_table_archive"  class="table table-bordered table-striped align-top">
    <thead>
    <tr>
      <th>Title</th>
      <th>Awards</th>
      <th>Source</th>
      <th>Organization</th>
      <th>Deadline</th>
      <th>Published</th>
      <th>Tags</th>
      <th>Type of notice</th>
    </tr>
    </thead>
  </table>
</div>

{% endblock %}
