{% extends 'base.html' %}

{% block content %}

  <div class="row table" >
    <h1 class="col-sm-12">
      <span>Tenders</span>
    </h1>
  </div>

  <div class = "table" >
    <table id="tenders_table"  class="cell-border display compact">
      <thead>
      <tr>
        <th>Title</th>
        <th>Source</th>
        <th>Organization</th>
        <th>Deadline in</th>
        <th>Published</th>
        <th>Type of notice</th>
      </tr>
      </thead>
      <tbody>
      {% for tender in tenders %}
        <tr>
          <td><a href="/app/tenders/{{ tender.id }}" class="link">{{ tender.title }}</a></td>
          <td>{{ tender.source }}</td>
          <td>{{ tender.organization }}</td>
          <td>{{ tender.deadline | date:'d-M-Y H:i'}}</td>
          <td>{{ tender.published | date:'d-M-Y' }}</td>
          <td>
            {{ tender.notice_type }}
            {% if tender.favourite == False %}
              <button type="button" action="{% url 'tender_favourite_view' tender.id %}" class="favourite_button"></button>
            {% else %}
              <button type="button" action="{% url 'tender_favourite_view' tender.id %}" class="favourite_pressed"></button>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
